html {
  height: 100%;
}
body {
  display: table;
  height: 100%;
  width: 1000px;
  margin: 0 auto;
  background-color: rgb(206, 224, 224);
}
h1 {
  color: rgb(153, 46, 46);
}
li {
  list-style: circle;
}
.wrapper {
  width: 1000px;
  height: calc(100% - 100px);
  padding: 50px;
  background-color: rgb(226, 211, 211);
}
