body {
  width: 1000px;
  margin: 0 auto;
  background-color: rgb(206, 224, 224);
  padding: 0 20px 20px 20px;
}
h1 {
  color: rgb(153, 46, 46);
}
li {
  list-style: circle;
}
.wrapper {
  width: 1000px;
  margin: 0 auto;
  padding: 25px;
  background-color: rgb(226, 211, 211);
}
