html {
  height: 100%;
}
body {
  display: table;
  height: 100%;
  width: 1000px;
  margin: 0 auto;
  background-color: #cee0e0;
}
h1 {
  color: #992e2e;
}
li {
  list-style: circle;
}
.wrapper {
  width: 1000px;
  height: calc(100% - 100px);
  padding: 50px;
  background-color: #e2d3d3;
}
